
/* css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background: #b9b3a9;
  display: flex;
  justify-content: center;
}

.North{
  background-color: #057705;
  font-size: larger;
  width:150px;
  height:80px;
  margin-left: 175px;
  font-weight: bold;
}

.Central{
  font-size: larger;
  width:150px;
  height:80px;
  margin-left: 175px;
  margin-top:10px;
  font-weight: bold;

}

.South{
  font-size: larger;
  background-color: #AE0407;
  width:150px;
  height:80px;
  margin-left: 175px;
  margin-top: 10px;
  font-weight: bold;

}
